/* Reset some default styles */
body, h1, h2, h3, p, ul, li, a, form, input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
  }
  
  header {
    background-color: #333;
    padding: 1em 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 1em;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  #home {
    background: url('banner.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .welcome h1 {
    color: #fff;
    font-size: 4em;
  }
  
  section {
    padding: 2em;
    text-align: center;
  }
  
  #portfolio .projects {
    display: flex;
    justify-content: space-around;
  }
  
  .project {
    width: 30%;
    background-color: #f4f4f4;
    padding: 1em;
    border-radius: 10px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
  }
